aiofiles
aiohttp[speedups]
apscheduler
cairosvg
cfscrape
colour
DateTime
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
googletrans==4.0.0-rc1
gsearch
gtts
hachoir
heroku3
gTTS-token
httplib2
html-telegraph-poster
humanize
js2py
IMDbPY
jikanpy
justwatch
lottie
lxml
lyricsgenius
nekos.py
opencv-python-headless
patool
Pillow
prettytable
psutil
psycopg2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
search-engine-parser
selenium
setuptools==47.1.1
spamwatch
speedtest-cli
sqlalchemy==1.3.23
telegraph
telethon
tgcrypto
validators
vcam
vcsi
wand
wget
wheel
wikipedia
youtube-search
youtube-search-python
ryoishin
git+https://github.com/HellBoy-OP/yt-fork
aria2p
async_generator
asyncurban
bs4
CairoSVG
cffi
cowpy
dnspython
ryoishin
